<footer style="border-top: 1px solid #000;">
  <ul style="padding-left: 0;">
    <li style="display: inline; margin-right: 5px;"><a href="index.html">Home</a></li>
    <li style="display: inline; margin-right: 5px;"><a href="information.html">Information</a></li>
    <li style="display: inline; margin-right: 5px;"><a href="https://github.com/joshosbrn/textonly">Source</a></li>
    <li style="display: inline; margin-right: 5px;"><a href="contribute.html">Contribute</a></li>
  </ul>

  <p>Maintained by <a href="http://www.twitter.com/joshosbrn">Josh Osborne</a></p>
  <p>Last modified {{ site.time }}</p>
</footer>
